.testimonial-card {
  max-width: 700px;
  border-radius: 15px;
  transition: all 0.3s ease;
  height: 280px;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.user-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: red;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #ff5252;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

@media (max-width: 576px) {
  .testimonial-card {
    padding: 20px;
  }
  blockquote {
    font-size: 0.9rem;
  }
}
